

<h1>Netsphere Laboratories Binary Code License Agreement 2.0</h1> 

<p>Netsphere Laboratories 堀川 久 (以下「Netsphere Laboratories」といいます。) は、あなたがこのバイナリコードライセンス契約書 (以下「本契約」といいます。) に含まれるすべての条項に同意する場合に限り、あなたに「ソフトウェア」の使用を許諾する意思があります。

<p><b>対象ソフトウェア:</b>
<ul>
  <li>Q's Nicolatter 8
  <li>Q's Calc 2
</ul>

<p><strong style="color:red">本契約をよくお読みください。</strong>

<p>「ライセンス契約に同意する」(あるいは同等の) ボタンを押し、または「ソフトウェア」を使用することにより、あなたはすべての条項を読み、かつそれらに同意したものと見なされます。

<p>あなたが会社等法人の代わりにこれらの条項に同意する場合、あなたはこれらの条項にその法人を拘束する法的権限を有することを表明します。

<p>あなたがこのような権限を持っていないか、条項に拘束されることを望まない場合は、「ライセンス契約を断る」(もしくは同等の) ボタンを押してください。以後,「ソフトウェア」を使用してはなりません。





<h2>バイナリコードライセンス契約書</h2>

  <h3>第1条 定義</h3>

<dl>
  <dt>「ソフトウェア」
  <dd><ol>
      <li>あなたが Netsphere Laboratories または代理人から入手、インストールまたは使用する, 本契約が同梱されたバージョンの、バイナリ形式のプログラム等, 

      <li>その他の機械可読マテリアル (ライブラリ、ソースファイル、ヘッダファイル、およびデータファイルを含みますが、それに限りません。)、

      <li>Netsphere Laboratories により提供される更新またはエラー修正、

      <li>ならびに, 本契約の下で Netsphere Laboratories からあなたに提供されるユーザマニュアル、プログラミングガイドおよびその他の文書。
    </ol>


</dl>




  <h3>第2条 使用に関するライセンス</h3>

<p>本契約の各条項および条件の下で, Netsphere Laboratories はあなたに, 完全かつ変更されていない「ソフトウェア」を複製および内部的に使用する, 非独占で譲渡不能な、限定的なライセンスを許諾します。







  <h3>第3条 制限事項</h3>

<p>「ソフトウェア」は著作権で保護されています。

<p>「ソフトウェア」の所有権および付随するすべての知的財産権は, Netsphere Laboratories および/またはそのライセンサーが保有しています。

<p>法律によって認められる場合を除き, あなたは「ソフトウェア」を変更、逆コンパイルまたはリバースエンジニアリングすることはできません。

<p>あなたは「ソフトウェア」が, 様々な情報管理分野での一般的な使用のために開発されており, 何らかの危険が伴う分野 (これには人体への怪我のリスクを生じうる分野を含みます。) での使用のためには開発されておらず, また意図していないことを認識します。

<p>危険が伴う分野で「ソフトウェア」を使用する場合, あなたはその安全な使用を確保するため, すべての適切なフェイルセーフ, バックアップ, 冗長性, およびその他の対策を講じる義務を負います。
  Netsphere Laboratories は, そのような使用への適合性について, いかなる明示または黙示の保証を否認します。

<p>Netsphere Laboratories またはそのライセンサーの商標, サービスマーク, ロゴまたは商号に対する所有権または使用権は, 本契約では付与されません。

<p>あなたは, 別途許可を得ない限り,「ソフトウェア」の再配布はできません。






  <h3>第4条 保証の免責</h3>

<p><em style="font-weight:bold">「ソフトウェア」は、いかなる種類の保証もなく "現状のまま" 提供されています。</em>
  <em style="font-weight:bold">Netsphere Laboratories はさらに, 明示にも黙示にも, すべての保証 (黙示的な商品性の保証, 特定目的への適合性または権利の非侵害を含みますがこれに限りません。) を否認します。</em>





  <h3>第5条 責任の制限</h3>

<p><em style="font-weight:bold">いかなる場合においても、Netsphere Laboratories は、契約内または不法行為 (過失を含む。) での行為かどうかに関わらず, あなたまたは第三者が被った, いかなる直接, 偶発, 特別, 懲罰的または間接的な損害, もしくは利益, 収益, データやデータの使用の喪失についての損害に対する責任を負いません。</em> 
  <em style="font-weight:bold">これは, Netsphere Laboratories がこのような損害の可能性を知らされていた場合でも同様です。</em>

<p>本契約に基づく損害に対する Netsphere Laboratories の全責任は, いかなる場合でも, 次の金額を超えないものとします。

<ol>
  <li>「ソフトウェア」が有償の場合、当該「ソフトウェア」の代金のうち直近１年内に払い込まれた額
  <li>または「ソフトウェア」が無償の場合, 10,000円
</ol>





  <h3>第6条 終了</h3>

<p>本契約は終了するまで有効です。

<p>あなたは,「ソフトウェア」の複製物をすべて破棄することにより, いつでも本契約を終了することができます。

<p>本契約は, あなたが本契約のいずれかの条項に従わなかった場合, Netsphere Laboratories からの通知なしに直ちに終了します。

<p>いずれの当事者も,「ソフトウェア」が何らかの知的財産権の侵害による損害賠償の対象となった (またはいずれかの当事者の意見によりその可能性がある) 場合には, 本契約をただちに終了することができます。

<p>本契約の終了時には, あなたは,「ソフトウェア」のすべての複製物を破棄しなければなりません。






  <h3>第7条 輸出規則</h3>

<p>あなたは, 技術データを含む「ソフトウェア」の使用が, 外国為替及び外国貿易法 (外為法) および他の適用される輸出および輸入に関する法律により規制されることに同意します。

<p>あなたは,「ソフトウェア」が, これらの法律に違反して直接, 間接的にも輸出されず, もしくはこれらの法律で禁止されている目的 (核兵器, 化学または生物兵器の拡散を含みますがこれに限りません。) に使用されないようにすることに同意します。





  <h3>第8条 商標</h3>

<p>あなたは, Netsphere Laboratories が, "Netsphere Laboratories", "Q's Nicolatter", "Q's Calc" およびその他のブランド名称を所有していることを承認し, 同意します。

<p>当該ブランド名称の使用はすべて, Netsphere Laboratories の利益のために効力を生じます。






  <h3>第9条 準拠法</h3>

<p>本契約は, 日本法を準拠法とし, 日本法に従って解釈されるものとします。

<p>あなたと Netsphere Laboratories は, 本契約から起きまたは関連する紛争について, Netsphere Laboratories の住所地を管轄する裁判所を専属的合意管轄裁判所とすることに同意します。







  <h3>第10条 可分性</h3>

<p>本契約のいずれかの条項が執行不能な場合でも, 本契約のそれ以外の条項は引き続き有効です。ただし, 当該それ以外の条項だけでは当事者の意図を満たせない場合には, 本契約はただちに終了します。




  <h3>第11条 完全合意</h3>

<p>本契約は,「ソフトウェア」のライセンスに関する, あなたとNetsphere Laboratories 間の完全な合意です。
  これは, すべての事前にされた口頭または書面による通信, 提案, 表明および保証に優先し, また本契約の有効期間中,「ソフトウェア」のライセンスに関連して当事者間でされた, いかなる見積り, 発注, 承諾, または他の通信での本契約との矛盾または追加条件に優越します。

<p>本契約の変更は, 書面で, かつ双方の当事者の権限ある者が署名しない限り, 拘束力を生じません。






<hr />

<p>不明点はお問い合わせください: 堀川 久 (hisashi dot horikawa at gmail dot com). "dot" または "at" は適宜置き換えてください。

<p>最終更新日: 2018年5月4日



