<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<HEAD>
    <TITLE>download</TITLE>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
    <META HTTP-EQUIV="Content-Language" Content="ja">
                                                <!-- HTTP/1.1 -->
</HEAD>
<BODY BGCOLOR="#F0FFF7" TEXT="BLACK" LINK="blue" vlink="teal" alink="#0066FF">


<TABLE BORDER=0 width="100%" cellpadding=3>
    <TR><TD BGCOLOR="navy" align="right"><H1 class="pagetitle"><font color="white">DOWNLOAD</font></H1>
</TABLE>


<P>$B!!0J2<$K<($9$N$O!$@[:n$N%=%U%H%&%'%"$G$9!#46A[$J$I$*J9$+$;$/$@$5$l$P9,$$$G$9!#(B


<UL>
    <LI><A href="#iefc">IE Favorites Collector</A>
    <LI><A href="#qilm">Q's Internet Link Manager</A>
    <LI><A href="#nicolatter">Q's Nicolatter</A>
    <LI><A href="#calc">Q's Calc</A>
    <LI><A href="#resalarm">Q's ResAlarm</A>
    <LI><A href="#spwrap">Q's SP Wrapper</A>
</UL>

<p>$B!!$=$NB>!$6&DL$9$k>pJs$r0J2<$K5s$2$^$9!#(B


<ol>
    <li><a href="./license.htm">$BMxMQ5vBz5,Dj(B</a>
    <li><a href="#common">$BF0:n4D6-Ey(B</a>
    <li><a href="#vcp50rt">Visual C++ 5.0$B%i%s%?%$%`(B</a>
    <li><a href="#install">$B%$%s%9%H!<%k(B</a>
    <li><a href="#uninstall">$B%"%s%$%s%9%H!<%k(B</a>
</ol>






<hr>
<h2><a name="common">$BF0:n4D6-Ey(B</a></h2>


<P>
<TABLE border>
<TR><TH ALIGN=RIGHT>$BCx:n8"<T(B<TD>$BKY@n!!5W!J(B<A href="mailto:vzw00011@nifty.ne.jp">vzw00011@nifty.ne.jp</A>$B!K(B
<TR><TH vaLIGN=top>$BBP1~4D6-(B<TD>Windows 95/98/NT4$B!#(BWindows 3.1$B$d(BNT 3.51$B>e$G$O;H$($^$;$s!#(B
<TR><TH ALIGN=RIGHT>$BF0:n3NG'(B<TD>$B<+:n(BPC/AT$B8_495!(B
<TR><TH ALIGN=RIGHT NOWRAP valign=top>$BE>:\>r7o(B<TD>
        $BE>:\<+M3!$O"MmITMW!#>\:Y$O(B<a href="./license.htm">$BMxMQ5vBz5,Dj(B</a>$B$r$4Mw$/$@$5$$!#(B
</TABLE>








<hr>
<h2><a name="vcp50rt">Visual C++ 5.0$B%i%s%?%$%`(B</a></h2>

<P>$B!!(BVisual C++ 5.0 SP3$B$N%i%s%?%$%`$G$9!#!VI,MW$J(BDLL$B%U%!%$%k(BMSVCP50.DLL$B$,8+$D$+$j$^$;$s$G$7$?!#!W$J$I$N%(%i!<%a%C%;!<%8$,$G$k$H$-$K!$%@%&%s%m!<%I!$%$%s%9%H!<%k$7$F$/$@$5$$!#(B


<p>$B!!0J2<$N(BDLL$B$,F~$C$F$$$^$9!#(B
<UL>
    <LI>MFC42.DLL
    <LI>MSVCRT.DLL
    <LI>MSVCP50.DLL
</UL>

<p>$B8x3+F|!'(B1998.09.20($BF|(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/vc5sp3rt.lzh">vc5sp3rt.lzh</A>$B!J(B1,465K$B%P%$%H!K(B




<hr>
<h2><a name="install">$B%$%s%9%H!<%k(B</a></h2>

<p>$B!!;d$N=q$/%=%U%H%&%'%"$OA4$F%$%s%9%H!<%i$r;H$$$^$;$s!#%$%s%9%H!<%k$O!$$*$*$`$M<!$N$h$&$K$7$^$9!#(B

<ol>
    <li>$BE,Ev$K%U%)%k%@$r:n$k!#(B
    <li>LHA$BEy$N%"!<%+%$%P$G!$$=$N%U%)%k%@$K2rE`$9$k!#(B
    <li>$BE,59!$%9%?!<%H%a%K%e!<Ey$K%7%g!<%H%+%C%H$r:n@.$9$k!#(B
</ol>



<hr>
<h2><a name="uninstall">$B%"%s%$%s%9%H!<%k(B</a></h2>

<p>$B!!%"%s%$%s%9%H!<%k$O!$4pK\E*$K%W%m%0%i%`$NF~$C$F$$$k%U%)%k%@$r4]$4$H:o=|$9$k$@$1$G$9!#>oCs$9$k!J%7%9%F%`%H%l%$$K%"%$%3%s$N$"$k!K%=%U%H$O!$$^$:=*N;$5$;$F$+$i!$%U%!%$%k$r:o=|$7$^$9!#(B





<HR><!--=======================================================================================-->
<H2><A name="iefc">IE Favorites Collector</A></H2>

<TABLE BORDER=1>
<TR><TH ALIGN=RIGHT>$B:G?7HG(B  <TD><A HREF="archives/iefc203.lzh">iefc203.lzh</A>
<TR><TH ALIGN=RIGHT>$B<oJL(B    <TD>$B%U%j!<%=%U%H%&%'%"!J4sIU4?7^!K(B
<TR><TH ALIGN=RIGHT>$BI,MW(BDLL         <TD>MFC40.DLL, MSVCRT40.DLL
<TR><TH align=right>NIFTY$B$G$N8x3+@h(B <TD>FWINAL LIB(14)
</TABLE>

<P>$B!!(BIE Favorites Collector$B$O!$%$%s%?!<%M%C%H!&%V%C%/%^!<%/JQ49%=%U%H$G$9!#(B

<H3>$BFCD'(B</H3>

<P>$B!!<!$N$3$H$,$G$-$^$9!#(B
<UL>
    <LI>Internet Explorer$B$N!V$*5$$KF~$j!W$r(BNetscape Navigator$B$N%V%C%/%^!<%/$KJQ49(B
    <LI>Internet Explorer$B$N!V$*5$$KF~$j!W$rFH<+$N%j%s%/=8!J%j%s%/$r0lMw$K$7$?(BHTML$B%U%!%$%k!K$KJQ49(B
    <LI>Netscape Navigator$B$N%V%C%/%^!<%/$r(BInternet Explorer$B$N!V$*5$$KF~$j!W$KJQ49(B
    <LI>Netscape Navigator$B$N%V%C%/%^!<%/$rFH<+$N%j%s%/=8$KJQ49(B
</UL>
<P>$B!!M'?M$K%j%s%/=8$rEO$7$?$$$H$-$d!$%$%s%?!<%M%C%H$G8x3+$7$?$$$H$-!$<+J,@lMQ$N%9%?!<%H%Z!<%8$r:n$j$?$$$H$-$J$I$K;H$($^$9!#(B
<P>$B!!FH<+%j%s%/=8$r:n@.$9$k$H$-$K;H$&%?%0$O<+M3$KJQ99$G$-$^$9!#(B

<p>$B!!(BQ's Internet Link Manager$B$,(BIE Favorites Collector$B$NA45!G=$r4^$s$G$$$^$9!#(B

<H3>$B:#8e$NM=Dj(B</H3>

<P>$B!!(BQ's Internet Link Manager$B$GCV$-49$($i$l$?$?$a!$FC$K$J$7!#(B




<HR><!--=======================================================================================-->
<H2><A name="qilm">Q's Internet Link Manager</A></H2>


<TABLE BORDER=1>
<TR><TH ALIGN=RIGHT>$B<oJL(B                <TD>$B%7%'%"%&%'%"!J#2!$#8#0#01_!K(B
<TR><TH ALIGN=RIGHT valign=top>$BI,MW(BDLL  <TD>v2.03$B$^$G!'(BMFC40.DLL, MSVCRT40.DLL<BR>
                                            v2.04$B0J9_!'(BMFC42.DLL, MSVCRT.DLL, MSVCP50.DLL
<TR><TH align=right>NIFTY$B$G$N8x3+@h(B     <TD>FWINAL LIB(14)
</TABLE>

<p>$B!!(BQ's Internet Link Manager$B$O!$%V%C%/%^!<%/JT=8!$(BWeb/$B%a!<%k99?7%A%'%C%/%=%U%H$G$9!#(B



<h3>$BJT=85!G=(B</h3>
<UL>
    <LI>$B%(%/%9%W%m!<%i$N$h$&$J2hLL9=@.$G!$%U%)%k%@$rJ,N`$K;H$$$^$9!#(B
    <li>$B%j%s%/!J=d2s@h!K$O%I%i%C%0!u%I%m%C%W$GJ,N`$7D>$7$?$j$G$-$^$9!#(B
    <li>Netscape Navigator, Internet Explorer, WWWC$B$+$i=d2s@h$r<h$j9~$a$^$9!#$^$?!$(BNetscape Navigator, Internet Explorer$B7A<0$H$7$FJ]B8$G$-$^$9!#(B
    <LI>$B$"$k(BWeb$B%5%$%H!J%[!<%`%Z!<%8!K$K$D$$$FJ#?t$NJ,N`!J%U%)%k%@!K$KF~$l$F$b!$$=$NF10l@-$,J]>Z$5$l$^$9!#%5%$%H$,0z$C1[$7$F$b!$0l2sJQ99$9$k$@$1$GBg>fIW$G$9!#(B
    <LI>$B@[:n$N(BIE Favorites Collector$B$NA45!G=$r4^$s$G$$$^$9!#(B
</ul>

<h3>$B=d2s5!G=(B</h3>
<ul>
    <li>Web$B%5%$%H$H%a!<%k%\%C%/%9!J(BPOP3$B!K$N99?7>u67$r%A%'%C%/$G$-$^$9!#%a!<%k%A%'%C%/$O(BAPOP$B!J%Q%9%o!<%I$N0E9f2=!K$KBP1~$7$F$$$^$9!#(B
    <li>Web$B%5%$%H$K$D$$$F$O!$3F%Z!<%8$ND>@\%@%&%s%m!<%I$b$G$-$^$9!#;XDj$N%Z!<%8$@$1$G$J$/!$$=$3$+$i%j%s%/$rC)$C$F$N0l3g%@%&%s%m!<%I$b2DG=$G$9!#(B
</UL>




<p>$B!!Aw6b$O!$(B<a href="https://sw.vector.co.jp/swreg/step1.reserve?srno=SR006751">$B%7%'%"%l%8!&%5!<%S%9(B STEP1_2$B!'(BQ's Internet Link Manager</a>$B$+$i$G$-$^$9!#(B



<H3>$B%U%!%$%k!?MzNr(B</H3>

<TABLE border=1>
<tr><td nowrap rowspan="2">2.33
    <td nowrap>$B8x3+F|!'(B1999.03.14($BF|(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/qilm233.lzh">qilm233.lzh</a>$B!J(B298,112$B%P%$%H!K(B
    <tr><td><ul>
        <li>$B%4%_H"$r<BAu$7$?!#:o=|$7$?%j%s%/$,$I$3$K$b=jB0$7$J$/$J$C$?$H$-%4%_H"$K0\F0$9$k!#(B
        <li>$B%^%&%9$N%a%K%e!<%\%?%s$r2!$7$J$,$i%I%m%C%W$7$?$H$-!$%]%C%W%"%C%W%a%K%e!<$r=P$9$h$&$K$7$?!#(B
        <li>$B%U%)%k%@Ey$N%"%$%3%s$r%7%9%F%`$+$i<hF@$9$k$h$&$K$7$?!#(B
        <li>$B!V$9$Y$F$N%j%s%/!W%U%)%k%@$K%j%s%/Ey$rE=$jIU$1$l$?%P%0$r=$@5$7$?!#(B
        <li>$B!V$9$Y$F$N%j%s%/!W%U%)%k%@Fb$G%j%s%/$r@Z$j<h$l$?%P%0$r=$@5$7$?!#(B
        <li>$B!V(BURL$B!W$H$$$&MQ8l$,;D$C$F$$$?$N$G!$!V(BURI$B!W$K=q$-49$($?!#(B
        <li>$B%j%s%/$rDI2C!$:o=|$7$?$H$-$K!$$=$N%j%s%/$N=jB0$9$k%U%)%k%@$N=d2s%A%'%C%/%^!<%/$,99?7$5$l$J$+$C$?%P%0$r=$@5$7$?!#(B
        <li>$B!V$9$Y$F$N%j%s%/!W%U%)%k%@$N%W%m%Q%F%#$G%j%s%/?t$,I=<($5$l$F$$$J$+$C$?%P%0$r=$@5$7$?!#(B
        <li>$B:G=i$N5/F0;~$KJ]B8$7$?%G!<%?%U%!%$%k$,0E9f2=$5$l$F$7$^$&$3$H$,$"$k%P%0$r=$@5$7$?!#(B
    </ul>
<tr><td nowrap rowspan="2">2.32
    <td nowrap>$B8x3+F|!'(B1999.02.19($B6b(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/qilm232.lzh">qilm232.lzh</a>$B!J(B298,112$B%P%$%H!K(B
    <tr><td>
    <ul>
        <li>$B=d2s$rCfCG$7$?8e!$:F$S=d2s$7$h$&$H$9$k$H!$=d2s@h$,EPO?$5$l$J$$%P%0$r=$@5$7$?!#(B
    </ul>
</TABLE>






<h2>$B:#8e$NM=Dj(B</h2>
<ul>
    <li>$B=d2s4V3V$r;XDj$G$-$k$h$&$K$9$k!#(B
    <li>$B%(%/%9%W%m!<%i$d%V%i%&%6$+$i$N%I%m%C%W$G%j%s%/$rEPO?$G$-$k$h$&$K$9$k!#(B
    <li>Web$B%V%i%&%6$G3+$$$F$$$k(BURI$B$rEPO?$G$-$k$h$&$K$9$k!#(B
    <li>$B!V85$KLa$9!W%3%^%s%I$r<BAu$9$k!#(B
    <li>HTML$B2r@O$G(B&lt;META http-equiv="refresh" content="3;URL=http://hogehoge/">$B$r<BAu$9$k!#(B
    <li>HTML$B2r@O$G(Bobject$BMWAG$N(Bcodebase$BB0@-$r<BAu$9$k!#(B
    <li>$B%4%_H"$X$N0\F0$N%?%$%_%s%0$O:F9M$NI,MW$"$j!#(B
</ul>










<HR><!--=======================================================================================-->
<H2><A name="nicolatter">Q's Nicolatter</A></H2>

<TABLE BORDER=1>
<TR><TH ALIGN=RIGHT>$B<oJL(B                <TD>$B%7%'%"%&%'%"!J#2!$#2#0#01_!K(B
<TR><TH ALIGN=RIGHT valign=top>$BI,MW(BDLL  <TD>v1.14$B$^$G!'(BMFC40.DLL, MSVCRT40.DLL<BR>
                                            v1.15$B0J9_!'(BMFC42.DLL, MSVCRT.DLL, MSVCP50.DLL
<TR><TH align=right valign=top>NIFTY$B$G$N8x3+@h(B  <TD>FWINAC LIB(9)<BR>
                                                    FKBOARD LIB(1)
</TABLE>

<P>$B!!(BQ's Nicolatter$B$O!$F|K\8lF~NO;~$N%-!<G[Ns$r8r49$9$k%=%U%H$G$9!#(B



<H3>$BGX7J$^$?$OF05!(B</H3>

<P>$B!!8=:_$N(BWindows$B4D6-$G$N%-!<F~NO$O%m!<%^;zF~NO$,<gN.$G$9$,!$%m!<%^;zF~NO$G$O$I$l$@$1=ON}$7$F$b%-!<F~NO$NB.EY$K8B3&$,$"$j$^$9!#(B

<P>$B!!J8=q:n@.$J$I9M$($J$,$iF~NO$9$k$H$-$K$O!$F~NOB.EY$,;W9MB.EY$NJI$r1[$($i$l$k$+$I$&$+$,!$;W9M$rK8$2$J$/$J$k$+$I$&$+$H$$$&0UL#$G<AE*$J0c$$$r$b$?$i$7$^$9!#$=$7$F%m!<%^;zF~NO$G$O$3$N;W9MB.EY$NJI$r1[$($k$3$H$O$G$-$^$;$s!#(B

<P>$B!!(BQ's Nicolatter$B$O!$G[Ns$r4]$4$H8r49$7$^$9!#%m!<%^;zF~NO$+$i(BNICOLA$BG[Ns$K49$($k$H!$(B3$B%v7nDxEY$G:#$^$G$N(B2$BG\$NB.$5!JH>J,$NF~NO;~4V!K$GF~NO$G$-$k$h$&$K$J$j$^$9!#$3$N9bB.@-$,;W9M$rK8$2$J$$2wE,$JF~NO$r$b$?$i$7$^$9!#(B


<H3>$BFCD'(B</H3>

<UL>
    <LI>$B=P2Y;~$N@_Dj$G(BNICOLA, TRON, OASYS, $B?7(BJIS, 50$B2;G[Ns$,;H$($^$9!#(B
    <LI>$BE:IU$N%-!<G[Ns%(%G%#%?$r;H$($PBgDq$NG[Ns$,;H$($^$9!#(B
</UL>


<P>$B!!(BQ's Nicolatter$B$N(BNICOLA$BG[Ns?^!#(BUS$B%-!<%\!<%I$G$N?^$G$9!#(BJP$B%-!<%\!<%I$@$H1&$NJ}$,B?>/0[$J$j$^$9!#(B
<IMG src="images/nico-map.gif" alt="Q's Nicolatter$BHG(BNICOLA$BG[Ns(B" width="560" height="176">

<p>$B!!(BQ's Nicolatter$B$r;H$&>l9g!$(BIME$B$NJ}$G$b@_Dj$rJQ99$7$J$$$H$$$1$J$$$3$H$,$"$j$^$9!#(B&lt;<a href="nicola-ime.htm">Q's Nicolatter$BMQ$N(BIME$B@_Dj(B</a>>


<p>$B!!Aw6b$O!$(B<a href="https://sw.vector.co.jp/swreg/step1.reserve?srno=SR001607">$B%7%'%"%l%8!&%5!<%S%9(B STEP1_2</a>$B$+$i$G$-$^$9!#(B



<H3>$B%U%!%$%k!?MzNr(B</H3>

<TABLE BORDER=1>
<tr><td nowrap rowspan=2>1.20
    <td nowrap>$B8x3+F|!'(B1999.03.14($BF|(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/qnico120.lzh">qnico120.lzh</A>$B!J(B181,656$B%P%$%H!K(B
    <tr><td><ul>
        <li>IME$B@)8f$,!V%-!<%$%Y%s%H!W$N$H$-!$!V$e$&!W$HF~NO$7$h$&$H$7$F!V$A!W$K$J$k$3$H$,$"$C$?%P%0$r=$@5$7$?!#$3$N%P%0$O(Bv1.14$B$G:.F~$7$?$b$N!#(B
    </ul>
<tr><td nowrap rowspan=2>1.19
    <td nowrap>$B8x3+F|!'(B1999.03.08($B7n(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/qnico119.lzh">qnico119.lzh</A>$B!J(B181,656$B%P%$%H!K(B
    <tr><td>
    <ul>
        <li>IE 4.0$B$,%$%s%9%H!<%k$5$l$?4D6-$G!$A43Q1Q?tJ8;z$rF~NO$7$?D>8e!$(B[Windows]$B%-!<$G%9%?!<%H%a%K%e!<$r8F$S=P$9$H!$%-!<%\!<%I$+$i!V%W%m%0%i%`!WEy$rA*$Y$J$$%P%0$r=$@5$7$?!#(B
        <li>$B%=!<%9%3!<%I$r8x3+!#(B
    </ul>
</TABLE>


<H3>$B:#8e$NM=Dj(B</H3>
<UL>
    <li>$B4{CN$N%P%0!'!V%a%$%sB&$N?t;z%-!<$G8uJdA*Br!W$r(BOFF$B$K$7$F$$$F$bA*Br$G$-$k!#(B
    <li>$B4{CN$N%P%0!'4A;z%-!<$,?^7A%-!<$rDI$$H4$/$3$H$,$"$k!#(B
</UL>











<HR><!--=======================================================================================-->
<H2><A name="calc">Q's Calc</A></H2>

<TABLE BORDER=1>
<TR><TH ALIGN=RIGHT>$B<oJL(B                <TD>$B%U%j!<%=%U%H%&%'%"!J4sIU4?7^!K(B
<TR><TH ALIGN=RIGHT valign=top>$BI,MW(BDLL  <TD>v1.03$B$^$G!'(BMFC40.DLL, MSVCRT40.DLL<BR>
                                            v1.04$B0J9_!'(BMFC42.DLL, MSVCRT.DLL, MSVCP50.DLL
<TR><TH align=right>NIFTY$B$G$N8x3+@h(B     <TD>FWINAC LIB(4)
</TABLE>

<P>$B!!(BQ's Calc$B$O!$%3%s%=!<%k7??t<0EEBn$G$9!#(B




<H3>$BGX7J$^$?$OF05!(B</H3>

<P>$B!!(BWindows$BMQ$NEEBn%=%U%H$OB?$/$"$j$^$9$,!$;d$,;n$7$?HO0O$G$O$I$l$bK\J*$NEEBn$rLOJo$7$?$b$N$G!$$=$l$J$iK\J*$NEEBn$NJ}$,JXMx$J$h$&$K;W$$$^$7$?!#(B

<P>$B!!$^$?!$%*%s%i%$%s%=%U%H$NEEBn$K8B$i$:(BExcel 97$B$d(B1-2-3 97$B$G$5$(!$IT:Y9)$J7W;;4V0c$$$r$7$P$7$P$7$^$9!#$?$H$($P(BExcel 97$B$O(B(-0.04)^(-0.04)$B$,%(%i!<$K$J$i$:!J$3$l$O3g8L$NI>2A$K%P%0$,$"$k$?$a!K!$(B1-2-3 97$B$O(B0.09-(0.1-0.01)$B$,(B0$B$K$J$j$^$;$s!J$3$l$O(B2$B?J?t$X$N4pDlJQ49$GH/@8$9$k8m:9$N9MN8$,7g$1$F$$$k$?$a!K!#(B


<P>$B!!(BQ's Calc$B$O!$9b$$@:EY$r;}$A$J$,$i<j7Z$K7W;;$G$-$k$h$&$K9M$($i$l$^$7$?!#(B


<H3>$BFCD'(B</H3>

<UL>
    <LI>$B?t<0$r$=$N$^$^7W;;$G$-$^$9!#(B
    <LI>$B@:EY$r%f!<%6!<$,;XDj$G$-!$(B2,000$B7e$^$G7W;;$G$-$^$9!#(B
    <LI>$B%f!<%6!<$,;XDj$7$?%-!<$G8F$S=P$;!$(B[Esc]$B%-!<$G>C$;$^$9!#(B
    <LI>$B;X?t4X?t!$BP?t4X?t!$;03Q4X?t$J$I(B30$B0J>e$NAH$_9~$_4X?t$,;H$($^$9!#(B
</UL>


<H3>$B%U%!%$%k!?MzNr(B</H3>

<TABLE BORDER=1>
<tr><td nowrap rowspan="2">1.10
    <td nowrap>$B8x3+F|!'(B1999.03.14($BF|(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/qcalc109.lzh">qcalc110.lzh</a>$B!J(B115,938$B%P%$%H!K(B
    <tr><td><ul>
        <li>$BF~NO$9$k?tCM$K$D$$$F(B','$B$r@hF,$^$?$OKvHx$KF~$l$?$H$-$O%(%i!<$K$7$?!#(B
        <li>$B%&%#%s%I%&$rIaDL$N%?%$%H%k%P!<$K$7$?!#(B
        <li>$B%a%K%e!<$NJ8;z$rA43Q$K$7$?!#(B
    </ul>
<tr><td nowrap rowspan="2">1.09
    <td nowrap>$B8x3+F|!'(B1999.03.02($B2P(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/qcalc109.lzh">qcalc109.lzh</a>$B!J(B115,938$B%P%$%H!K(B
    <tr><td>
    <ul>
        <li>$B7W;;7k2L$K$D$$$F(B3$B7e$4$H$K(B','$B$rF~$l$k$h$&$K$7$?!#F~NO$9$k>l9g$O$I$3$K(B','$B$rF~$l$F$bBg>fIW!#(B
    </ul>
</TABLE>



<H3>$B:#8e$NM=Dj(B</H3>
<UL>
    <LI>$B%^%/%m!J%f!<%6!<Dj5A4X?t!K$r<BAu$9$k!#(B
</UL>



<HR><!--=======================================================================================-->
<H2><A name="resalarm">Q's ResAlarm</A></H2>

<TABLE BORDER=1>
<TR><TH ALIGN=RIGHT>$B<oJL(B                <TD>$B%U%j!<%=%U%H%&%'%"!J4sIU4?7^!K(B
<TR><TH ALIGN=RIGHT valign=top>$BI,MW(BDLL  <TD>v1.01$B$^$G!'(BMFC40.DLL, MSVCRT40.DLL<BR>
                                            v1.02$B0J9_!'(BMFC42.DLL, MSVCRT.DLL, MSVCP50.DLL
<TR><TH align=right>NIFTY$B$G$N8x3+@h(B     <TD>FWINAC LIB(8)
</TABLE>

<P>$B!!(BQ's ResAlarm$B$O!$%7%9%F%`%j%=!<%94F;k!&7Y9p%=%U%H$G$9!#(B

<H3>$BGX7J$^$?$OF05!(B</H3>


<P>$B!!(BWindows 3.1$B$+$i(BWindows 95$B$X0\9T$7$F$+$i!$7zA0>e$O%7%9%F%`%j%=!<%9$N$3$H$r5$$K$7$J$$$G$h$/$J$j$^$7$?!#$7$+$7(BInternet Explorer$B$d(BWord 97$B$J$I9T57$N0-$$%=%U%H$O%7%9%F%`%j%=!<%9$,>/$J$/$J$k$HCx$7$/IT0BDj$K$J$j$^$9!#(B

<P>$B!!(BQ's ResAlarm$B$O!$(BWindows$B$N:F5/F0$J$I%f!<%6!<$,E,Ev$KBP=h$G$-$k$h$&$K!$%j%=!<%9$,>/$J$/$J$k$H7Y9p$rH/$7$^$9!#(B

<H3>$BFCD'(B</H3>

<UL>
    <LI>$B7Y9p$r=P$9%j%=!<%9$N?e=`$r@_Dj$G$-$^$9!#(B
    <LI>$B7Y9pJ}K!$r(B(1)$B%&%#%s%I%&$rI=<(!$(B(2)PC$B%9%T!<%+!<!$(B(3)WAVE$B%5%&%s%I$+$iA*$Y$^$9!#(B
</UL>



<H3>$B%U%!%$%k!?MzNr(B</H3>

<TABLE BORDER=1>
<TR><TD NOWRAP ROWSPAN="2">1.02
    <TD NOWRAP>$B8x3+F|!'(B1998.01.30 &nbsp; $B%U%!%$%k!'(B<A href="archives/resal102.lzh">resal102.lzh</A>
    <TR><TD>
    <UL>
        <LI>Visual C++ 5.0 SP3$B$G:F%3%s%Q%$%k$7$?!#(B
    </UL>
<TR><TD NOWRAP ROWSPAN="2">1.01
    <TD NOWRAP>$B8x3+F|!'(B1997.11.01 &nbsp; $B%U%!%$%k!'(B<A href="archives/resal101.lzh">resal101.lzh</A>
    <TR><TD>
    <UL>
        <LI>$B%j%=!<%9$,>/$J$/$J$C$?$H$-$N5sF0$rA*$Y$k$h$&$K$7$?!#(B
    </UL>
</TABLE>

<H3>$B:#8e$NM=Dj(B</H3>

<P>$B!!FC$K$J$7!#(B



<HR><!--=======================================================================================-->
<H2><A name="spwrap">Q's SP Wrapper</A></H2>

<TABLE BORDER=1>
<TR><TH ALIGN=RIGHT>$B<oJL(B                <TD>$B%U%j!<%=%U%H%&%'%"!J4sIU4?7^!K(B
<TR><TH ALIGN=RIGHT valign=top>$BI,MW(BDLL  <TD>v1.05$B$^$G!'(BMFC40.DLL, MSVCRT40.DLL<BR>
                                            v1.06$B0J9_!'(BMFC42.DLL, MSVCRT.DLL, MSVCP50.DLL
<TR><TH align=right>NIFTY$B$G$N8x3+@h(B     <TD>FWINAL LIB(14)
</TABLE>

<P>$B!!(BQ's SP Wrapper$B$O!$(BSGML$B%Q!<%5!<$N%U%m%s%H%(%s%I$G$9!#(B



<H3>$BGX7J$^$?$OF05!(B</H3>

<P>$B!!:G6a$O2?$@$+C/$G$b%[!<%`%Z!<%8$r;}$C$F$$$k$h$&$G$9$,!$=q$-<j$N;H$C$F$$$k%V%i%&%6$G$N$_3NG'$7$F$$$k$3$H$,B?$$$h$&$K8+$($^$9!#(B
<P>$B!!$7$+$7!$(BHTML$B$K8m$j$,$"$k$H!$=q$-<j$,3NG'$7$?%V%i%&%6$G$OI=<($G$-$F$b!$$=$NB>$N%V%i%&%6$@$HI=<($,Mp$l$?$j!$9s$$$H$-$K$O0[>o=*N;$9$k$3$H$,$"$j$^$9!#(B
<P>$B!!(BQ's SP Wrapper$B$r;H$($P!$4JC1$K(BHTML$B$NJ8K!%A%'%C%/$,$G$-$^$9!#(B


<H3>$BFCD'(B</H3>

<UL>
    <LI>Q's SP Wrapper$B$K(BHTML$B%U%!%$%k$r%I%m%C%W$9$k$@$1$G(BOK$B!#(B
    <LI>$B%(%G%#%?$J$I$+$i8F$S=P$9$3$H$b$G$-$^$9!#(B
    <LI>HTML$B$NDj5A!J(BDTD$B!K$rMxMQ$9$k$N$G!$@53N$+$D87L)!#(B
    <LI>SGML$BJ8=q$N8!::$b$G$-$^$9!#(B
</UL>

<P>$B!!(B<EM>$BJLES!$(BSP 1.2$B0J>e$,I,MW$G$9(B</EM>$B!#(BSP$B$O(B<A href="http://www.jclark.com/">James Clark's Home Page</A>$B$+$iF~<j$G$-$^$9!#(B




<H3>$B%U%!%$%k!?MzNr(B</H3>

<TABLE BORDER=1>
<TR><TD NOWRAP ROWSPAN="2">1.09
    <TD nowrap>$B8x3+F|!'(B1998.09.22($B2P(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/sprap109.lzh">sprap109.lzh</A>$B!J(B140K$B%P%$%H!K(B
    <TR><TD>
    <UL>
        <li>$B%(%i!<%Z%$%s$G!V$3$N%U%!%$%k$r8!::!W%3%^%s%I$,@5>o$KF0:n$7$F$$$J$+$C$?%P%0$r=$@5$7$?!#(B
        <li>$B%=!<%9$rE:IU$7$?!#(B
    </UL>
<TR><TD NOWRAP ROWSPAN="2">1.08
    <TD nowrap>$B8x3+F|!'(B1998.07.15($B?e(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/sprap108.lzh">sprap108.lzh</A>
    <TR><TD>
    <UL>
        <li>$B8!::%U%!%$%k$r%V%i%&%6$G3+$/$H$-$K!$$I$N%V%i%&%6$G3+$/$+A*$Y$k$h$&$K$7$?!#$?$@$7(BNetscape Navigator$B@lMQ!#(B
    </UL>
</TABLE>

<H3>$B:#8e$NM=Dj(B</H3>

<UL>
    <LI>$B!!8!::BP>]$H$7$F(BURI$B$r;XDj$G$-$k$h$&$K$9$k!#(Bcgi$B$J$I$rB?MQ$9$k$H8x3+$5$l$F$$$k%Z!<%8$r8!::$9$kI,MW$,$"$k$@$m$&!#(B
    <li>$B!!H>3Q%+%J$r;H$&$H(B'non SGML character number 142'$B$H$$$&%(%i!<$,=P$k$h$&$K$7$F$$$k$,!$$3$N%A%'%C%/$r<+A0$G$d$j!$BgNL$KI=<($5$l$J$$$h$&$K$9$k!#(B
</UL>

















<hr><!--===================================================================-->
<P align="center">Copyright (c) 1997-1999 <A HREF="mailto:vzw00011@nifty.ne.jp">Hisashi HORIKAWA</a>. All rights reserved.
<P align="center"><a href="http://www2.airnet.ne.jp/pak04955/">Q's crafting attic (http://www2.airnet.ne.jp/pak04955/)</A>
</BODY>
</HTML>
